.Sub-task-list-container {
    text-align: right;
    margin-top: 20px;
    width: 700px;
    float: right;
}

.Sub-task-list {
    height: 680px;
    margin-top: 20px;
    border: 1px solid #e4e4e4;
}
