.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 80px;
    margin-bottom: 20px;
}

.App-layout {
    margin: 0 auto;
    width: 1100px;
    height: 800px;
    padding: 10px;
    border: 1px solid #e4e4e4;
    box-shadow: 2px 4px 4px rgba(0,0,0,0.35);
}

.container {
    display: flex;
}

.Todo-header {
    width: 100%;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
